@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --primaryColor: #fafafa;
  --secondaryColor: #0a0a0a;
  --tertiaryColor: #d4d4d4;
  --fontColor: #0a0a0a;
  --fonColorTwo: #a3a3a3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Geist, sans-serif;
  background: var(--primaryColor);
  color: var(--fontColor);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  padding: 1.875rem;
  width: min(450px, 90%);
  background: var(--primaryColor);
  border: 1px solid var(--tertiaryColor);
  border-radius: 0.625rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.container__title {
  margin: 0 0 1.25rem 0;
  text-align: center;
  color: var(--fontColor);
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 1rem;
}

@media (max-width: 320px) {
  .input-box {
    flex-direction: column;
    align-items: center;
  }
}

.input-box input {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--fontColor);
  background-color: var(--tertiaryColor);
  width: 100%;
  padding: 0.725rem 0.625rem 0.725rem 0.925rem;
  border: none;
  border-radius: 0.625rem;
}

.input-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 0.563rem 0.75rem;
  border-radius: 0.625rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.copy {
  width: 1.875rem;
  height: auto;
}

.input-box span:hover {
  transform: scale(0.97);
}

.copied-msg {
  font-style: italic;
  color: var(--fonColorTwo);
  font-size: 0.865rem;
  margin: 0;
}

@media (max-width: 320px) {
  .input-box span {
    text-align: center;
    width: 100%;
  }
}

.pass-settings__title {
  margin: 1rem 0 0 0;
}

.options {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0;
}

@media (max-width: 480px) {
  .options {
    flex-direction: column;
    align-items: center;
  }
}

.option {
  display: flex;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}

@media (max-width: 480px) {
  .option {
    width: 100%;
  }
}

.option:first-child input {
  opacity: 0.7;
}

.option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.option label {
  cursor: pointer;
  color: var(--fontColor);
  padding-left: 0.63rem;
}

@media (max-width: 480px) {
  .option label {
    font-size: 0.975rem;
  }
}

.checkbox-wrapper-30 .checkbox {
  --bg: #f4f4f5;
  --brdr: #d4d4d8;
  --brdr-actv: #18181b;
  --brdr-hovr: #d4d4d8;
  --dur: calc((var(--size, 2) / 2) * 0.6s);
  display: inline-block;
  width: calc(var(--size, 1) * 20px);
  position: relative;
}

.checkbox-wrapper-30 .checkbox:after {
  content: '';
  width: 100%;
  padding-top: 100%;
  display: block;
}

.checkbox-wrapper-30 .checkbox > * {
  position: absolute;
}

.checkbox-wrapper-30 .checkbox input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
}

.checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) / 1.3);
}

.checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}

.checkbox-wrapper-30 .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}

.btn {
  font-family: Geist, sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  width: 100%;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 1.125rem;
  border: none;
  border-radius: 0.625rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (max-width: 320px) {
  .btn {
    font-size: 1rem;
  }
}

.btn:hover {
  transform: scale(0.97);
}
